<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atendente</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>

    <div class="container">

        <div> <b> Nome: </b> <%= resultado.nome %> </div>
        <div> <b> Email: </b> <%= resultado.email %> </div>


        <a class="btn btn-dark" href="/">Voltar</a>
       

    </div>
    
</body>

<foot>
    <%- include("../partials/footer.ejs") %>
</foot>

</html>