<link rel="stylesheet" href="/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg bg-light">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.construirnoticias.com.br/wp-content/uploads/2021/12/criancas_lendo_livros_AdobeStock_288352040_svetabelaya_Convertido-02.png" alt="" width="60" height="50">
        </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">

            <li class="nav-item">
              <a class="nav-link active" href="/">Início</a>
            </li>

            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Livros
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/livro">Listagem</a></li>
              <li><a class="dropdown-item" href="/livro/cadastrar">Cadatro</a></li>
              <li><a class="dropdown-item" href="/livro/relatorio">Relatório de Livros</a></li>
            </ul>
  
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Atendentes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/atendente">Listagem</a></li>
              <li><a class="dropdown-item" href="/atendente/cadastrar">Cadatro</a></li>
              <li><a class="dropdown-item" href="/atendente/relatorio">Relatório de Atendentes</a></li>
            </ul>

              
            <li class="nav-item">
              <a class="nav-link active" href="/atendente/logout">Logout</a>
            </li> 
              
           
         </li>
        
        </li>
       </ul>
      </div>

    </div>
  </nav>